{% extends "layout.html" %}

{% block main %}

<div class="py-5 text-center">
    <h2>{{ title }}</h2>
    <p class="lead">
        Use the form below to make a payment<br/>
        Go <a href="/status">here</a> to check the status of a payment
    </p>
</div>

<div class="row justify-content-md-center">
    <form>
        <div class="form-row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <input id="email" type="text" class="form-control" placeholder="Email" aria-label="Email">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <input id="amount" type="text" class="form-control" placeholder="Amount" aria-label="Amount">
                    <div class="input-group-append">
                        <span class="input-group-text">ZAR</span>
                    </div>
                </div>
            </div>
            
            <div class="col-md-2">
                <button id="pay" type="button" class="btn btn-primary mb-3">Pay</button>
            </div>
        </div>
    </form>
</div>

<div class="row justify-content-md-center">
    <span id="error" class="text-danger">Invalid</span>
</div>

<hr/>

<div class="py-3 text-center">
    <h4>Test Cards</h4>
    <p class="lead">
        Use any of the cards below on the payment page <br/> 
        Cardholder name, expiry date and CCV can be anything
    </p>
</div>

<div class="row justify-content-md-center">
    <table class="table" style="width: 80%;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Tx Type</th>
            <th scope="col">Vendor</th>
            <th scope="col">Card Number</th>
            <th scope="col">CCV</th>
          </tr>
        </thead>
        <tbody>
          {% for card in testCards %}
          <tr>
            <td>{{ card.transactionType }}</td>
            <td>{{ card.vendor }}</td>
            <td>{{ card.number }}</td>
            <td>{{ card.ccv }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}
