
<div class="py-5 text-center">
    <h2>Payment Status</h2>
    
    {{PAY_REQUEST_ID}} <br/>
    {{TRANSACTION_STATUS}} <br/>

    <!-- <button id="status" type="button" class="btn btn-primary mb-3">&nbsp; Refresh Status &nbsp;</button> -->
</div>
